<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">
				{{site.title}}
			</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				{% for link in site.primarylinks %}
					<li><a target='_blank' href="{{link.url}}">{{link.title}}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</nav><br/>
<script language="JavaScript">

			// function to calculate local time
			// in a different city
			// given the city's UTC offset
			function calcTime(city, offset) {

			    // create Date object for current location
			    d = new Date();

			    // convert to msec
			    // add local time zone offset 
			    // get UTC time in msec
			    utc = d.getTime() + (d.getTimezoneOffset() * 60000);

			    // create new Date object for different city
			    // using supplied offset
			    nd = new Date(utc + (3600000*offset));

			    // return time as a string
			    return "The local time is " + nd.toLocaleString().replace(/:\d+ /, ' ');

			}
		</script>  		
<div id="textDiv"></div>  
<script type="text/javascript">  
    var div = document.getElementById("textDiv");  
    div.textContent = calcTime('kirkland', '-7'); 
    var text = div.textContent;  
</script>  
			
