<div class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1>Work Experience</h1>
	</div>
	<div class="content-rounded-panel">
		<div>
			<table class="table table-striped table-hover table-condensed">
					{% for role in site.roles %}
					<thead>
						<tr>	
							<th><a style="cursor: pointer;"><strong>{{role.title}}</strong></a></th>
							<th style="text-align: right;">{{role.start}}-{{role.end}}</th>
						</tr>
						<tr>
							<th><a style="cursor: pointer;"><strong>{{role.employer}}</strong></a></th>
							<th style="text-align: right;">{{role.size}}</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="2" class="hidden-sm hidden-xs" >>{{role.description}}</td>
						<br></br>
						</tr>
					</tbody>
					{% endfor %}
			</table>
		</div>
		<br>
	</div>
</div>
