<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			I'm a game dev with experiene in several language, engines, and development tools. I'm currently pursuing  a BS in Computer Science at DigiPen Institute of Technology and I got a lot of experience in C++ game development.</br></br>
			During my journey through college, I have developed a strong passion of bringing a better experience through my work to both users and developers alike. I’m consistently challenging myself to learn more and doing so has given me a well rounded set of skills to bring to any team.
		</div>
		<br>
	</div>
</div>
